
<h1 id = "Event-title">Events</h1>
<% @events.each do |event| %>
<div class="gallery cf">
  <div>
    <%= image_tag event.photo.url(:medium), class: "eventimage" %>
  </div>
  <h3 id ="Event-words"><%= event.name %> | <%= event.address %>| <%= event.date %></h3>

</div>











<br><br>

<% end %>
