<%= form_with(model: order, local: true) do |form| %>
<div class="user">
    <header class="user__header">
        <img src="https://harrisonpensa.com/wp-content/uploads/2015/07/ThinkstockPhotos-480775382.jpg" alt="" class="checkout-image"/>
        <h1 class="user__title">Check Out</h1>
    </header>

    <form class="form">
        <div class="form__group">
            <input type="text" placeholder="Name" class="form__input" />
        </div>

        <div class="form__group">
            <input type="email" placeholder="Email" class="form__input" />
        </div>

        <div class="form__group">
            <input type="address" placeholder="Address" class="form__input" />
        </div>

        <div class="form__group">
          <%= form.label :pay_type %>
          <%= form.select :pay_type, Order.pay_types.keys, prompt: "Select a payment method" %>
          <!-- id: :order_pay_type -->
        </div>


          <%= form.submit 'Place Order', :class => "form-actions"%>

    </form>
</div>
<% end %>
