<div class="store-form">
  <h1>New Order</h1>
  <fieldset>
    <legend>Please Enter Your Details</legend>
    <%= render 'form', order: @order %>
  </fieldset>

  <%= link_to 'Back', orders_path %>

</div>
