<body class="contact">
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <h1>About HAT3</h1>

<P>HAT3 is the new branch of the captain lawrence brewing company.  We are specifically tasked with creating truly one of a kind craft micro beers.  Scott Vaccaro decided to open Captain Lawrence Brewing Co., in Pleasantville NY back in 2006.  New York craft beer started getting a lot of attention, and in 2012 Captain Lawrence, moved into its new digs in Elmsford NY.  Since the growth of the captain lawrence brewing company HAT3 has been able to task ourselves with providing one of a kind taste and quality to our ever growing fan base.  Now that HAT3 is underway we are looking to provide our customers old and new with micro beers that will make you a customer for life.</p>

<p>HAT3 is starting it's introduction to the world this winter with it's first line of truly one of a kind craft beers.  We have celebrations planned to kick off the start of our new venture as well as our first line of beers.  The only real question is which one will you try first because to be honest once you have tried one we know you will have to try them all.</p> 

<p> So let me be the first to introduce our new company and line of beers.  I certainly know from the first sip it will be one you will never forget.</p>



<div class="form">
    <form method="POST" action="http://formspree.io/kevin.gallagher23@gmail.com">
    <h2 style="color: black;">Want to Learn More?</h2><br>
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    Email:<br>
    <input type="text" name="email"><br>
    Message:<br>
    <input style="height: 40px;" type="text" name="message">
    <br>
    <input type="submit" value="Contact Us">
</form>
</div>
</body>