<% @beers.each do |beer| %>

<figure class="snip1577 hover">
  <%= image_tag beer.photo.url(:medium), class: "img" %>
  <figcaption>
    <h3><%= beer.name %></h3>
  </figcaption>
  <%= link_to 'Show', beer %>
</figure>
<% end %>

<br><%= link_to 'New Beer', new_beer_path %>
